[Unit]
Description=Check if connected to sign
After=usb_gadget.service
Requires=usb_gadget.service

[Timer]
AccuracySec=1us
OnActiveSec=3s
RemainAfterElapse=false

[Install]
WantedBy=timers.target
