[Unit]
Description=Generate sign image
Wants=get_data.service
After=get_data.service
Requires=mass_storage.service
# Requires a newer version of systemd
# OnSuccess=usb_gadget.service
Before=usb_gadget.service
Wants=usb_gadget.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/signpi/generate_image.py
# ExecStartPost=systemctl start usb_gadget
WorkingDirectory=/usr/local/share/signpi/
