[Unit]
Description=Get data for sign
After=network.target
# not network actually being available, so this will ~always fail

[Service]
Type=oneshot
ExecStart=/usr/local/lib/signpi/get_data.py
WorkingDirectory=/usr/local/share/signpi/
