[Unit]
Description=Mount mass storage backing
After=usb_gadget.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/mass_storage.sh up
ExecStop=/usr/local/bin/mass_storage.sh down
WorkingDirectory=/usr/local/share/signpi/
 
[Install]
WantedBy=multi-user.target
