[Unit]
Description=Mount mass storage backing
After=systemd-modules-load.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/startup.sh
WorkingDirectory=/usr/local/share/signpi/
 
[Install]
WantedBy=multi-user.target
