[Unit]
Description=USB Mass Storage Gadget
After=systemd-modules-load.service
Wants=check_usb_sign.timer
Before=check_usb_sign.timer

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/composite_gadget.sh up
ExecStop=/usr/local/bin/composite_gadget.sh down
 
[Install]
WantedBy=multi-user.target
