[Unit]
Description=Load config.ini, then generate sign images and send them to sign
After=default.target

[Service]
Type=exec
ExecStart=/usr/bin/signpi.sh
WorkingDirectory=/usr/share/signpi/

[Install]
WantedBy=default.target
